body{
  .header-container-wrapper.transparent {
    background-color:transparent;

    .hs-menu-wrapper {
      a {
        color:white;
        text-align:center;
        display:block;
      }
      li {
        color:white !important;
        &:before {
          color: white !important;
        }
      }
    }
    .logo {
      background-image: url('http://cdn2.hubspot.net/hubfs/730505/new-website-assets/white-logo.png');
      width:135px;
      height:60px;
      background-size: 100% auto;
      background-repeat:no-repeat;
    }
    #overly_open {
      color:white;
    }
  }
}


.header-container-wrapper .container-fluid {
  padding:0px;
}

.header-container-wrapper {
  position:fixed;
  width:100%;
  background-color:white;
  z-index:999;
  transition: background-color 2s;
  .span12 {
    width:100% !important;
  }
  .widget-type-logo {
    float:left !important;
  }
  .logo {
    width:135px;
    height:60px;
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-image: url('http://cdn2.hubspot.net/hubfs/730505/new-website-assets/ovation-full-logo-revised-transparent-ov.png');
  }
}

.flex-menu {
  .hs-menu-children-wrapper {
    display:block !important;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    margin-top:15px !important;
    li {
      // margin:5px 0px;
      border-bottom:none !important;
    }
    margin:0px;
  }
  .hs-item-has-children {
    //position: relative;
    &.open {

      .hs-menu-children-wrapper {
        max-height: 300px;
        transition: max-height 0.5s ease-in;
      }
    }
    & > a:after {
      font-family: FontAwesome;
      content: '\f0d7';
      margin-left:10px;
      text-decoration:none !important;
      &:hover {

      }
    }
  }
  h1 {
    font-family:$proxima-nova-semibold;
  }
  ul {
    margin:0px;
  }
  li {
    list-style: none;
  }
  ul > li > a {
    font-family:$proxima-nova-light;
    color: #979797 !important;
    &:hover {
      color: #585858 !important;
      text-decoration:none;
    }
  }
  & > li:first-child {
    padding:20px;
    border-bottom: 1px solid #979797;
  }
  .hs-menu-wrapper {
    text-align:center;
    li {
      padding:30px 0px;
      border-bottom: 1px solid #979797;
      &.hs-item-has-children {
      }
    }

  }
  .cta-container {
    text-align:center;
    padding-top:10px;
  }
}

header {
  color: #979797;
  font-family:$proxima-nova-light;
  box-shadow: 0px 3px 10px 0px rgba(187,187,187,0.50);

  a {

  }
  .hs-menu-wrapper {
    padding:20px 0px;
    a {
      color: #979797;
      text-align:center;
      display:block;
      &:hover {
        color: #585858;
        text-decoration:none;
      }
    }
  }

  .hs-menu-wrapper > ul {
    margin:0px;
    display: flex;
    justify-content: space-between;
  }

  .hs-menu-wrapper > ul > li {
    display:inline;
    width:17%;
    .child-trigger {
      display:none !important;
    }

    &.hs-item-has-children {
      //position: relative;
      &.open {

        .hs-menu-children-wrapper {
          max-height: 200px;
          transition: max-height 0.5s ease-in;
        }
      }
      & > a:after {
        font-family: FontAwesome;
        content: '\f0d7';
        margin-left:10px;
        text-decoration:none !important;
        &:hover {

        }
      }
    }
  }

  ul {
    list-style: none;

    &.hs-menu-children-wrapper {
      display:block !important;
      max-height: 0;
      transition: max-height 0.5s ease-out;
      overflow: hidden;
      li {
        margin:15px 0px;
      }
      margin:0px;
    }

  }

  .hs-cta-wrapper {
      margin:10px auto;
      text-align:center;
      display:block;
  }

  .flex-trigger {
    font-size: 24px;
  }

  .overly_btn_block {
    padding: 15px 0px 0px;
    #overly_close {
      position:absolute;
    }
    span {
      cursor: pointer;
    }
  }
}

@media (min-width: 911px) {
  .overly_btn_block {
    display:none;
  }
}

@media (min-width:769px) {
  header {
    padding: 20px 40px;
  }
}

@media (max-width:768px) {
  header {
    padding: 10px 20px;
  }
}

@media (min-width:401px) {
  .flex-menu {
    ul > li > a {
      font-size:48px !important;
    }
    span a {
      font-size:48px !important;
    }
  }
  #overly_close {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 910px) {
  .flex-collapse {
    display:none !important;
  }
}

@media (max-width: 910px) and  (min-width:401px) {
  .overly_btn_block {
    display:block;
  }
  body {
    padding:0px;
  }
  .widget-type-logo {
    width:200px !important;
    float:left;
  }
}

@media (max-width:400px) {
  .flex-menu {
    h1 {
      font-size: 24px !important;
    }
    ul > li > a {
      font-size:24px !important;
    }
    span a {
      font-size:24px !important;
    }
  }
  #overly_close {
    top: 10px;
    right: 10px;
  }
  .widget-type-logo {
    width:100px !important;
  }
}
