/* Tablet and Mobile
$breakpoint-orientation-portrait: 'orientation: portrait';

/* Generic */
$breakpoint-full-width: 'max-width: 1024px';
$breakpoint-form-small-landscape: 'max-width: 550px';

/* Header */
// $breakpoint-Header-medium-portrait: 'max-width: 800px';

/* Login page */
// $breakpoint-login-medium-portrait: 'max-width: 950px';

/* Mobile */
$break-mobile-small: 300px;
