//Green
$light-green: #51BA4B;
$main-green: #26A91E;
$dark-green: #1E8718;
$brighter-light-green: #71CF2D;
$brighter-main-green: #35C312;
$brighter-dark-green: #2AAB0E;
$brightest-light-green: #91E40F;
$brightest-main-green: #44DE06;
$brightest-dark-green: #36D104;

//Orange
$light-orange: #FFA45B;
$main-orange: #FF8E33;
$dark-orange: #CC7128;
$brighter-light-orange: #FFBF36;
$brighter-main-orange: #FFB01E;
$brighter-dark-orange: #E09318;
$yellow: #FFDC12;
$darker-yellow: #FFD40A;
$darkest-yellow: #F4B708;

//Magenta
$light-magenta: #CC5099;
$main-magenta: #C02580;
$dark-magenta: #991D66;
$brighter-light-magenta: #E06870;
$brighter-main-magenta: #D9304D;
$brighter-dark-magenta: #C1253D;
$orange-red: #F48147;
$red: #F23B1A;
$dark-red: #EA2E14;

//Grays
$backround-gray: #F8F8F8;
$light-gray: #6E6E6E;
$mid-gray: #6E6E6E;
$dark-gray: #5D5D5D;

//Text
$light-text-gray: #979797;
$dark-text-gray: #535353;
