/*
@include font-face('Proxima Nova Regular', 'proximanova-regular', normal, normal);
@include font-face('Proxima Nova Semibold', 'proximanova-semibold', bold, normal);
@include font-face('Proxima Nova Italic', 'proximanova-regitalic', normal, italic);
@include font-face('Proxima Nova Light', 'proximanova-light', lighter, normal);
@include font-face('Proxima Nova Light Italic', 'proximanova-lightitalic', lighter, italic);
*/

$proxima-nova-regular: "proxima-nova",sans-serif;
$proxima-nova-semibold: "proxima-nova",sans-serif;
$proxima-nova-italic: "proxima-nova",sans-serif;
$proxima-nova-light: "proxima-nova",sans-serif;
$proxima-nova-lightitalic: "proxima-nova",sans-serif;

/*
@include font-face('Fanwood Italic', 'fanwood_italic', normal, normal);
@include font-face('Fanwood Text Italic', 'fanwood_text_italic', bold, normal);
@include font-face('Fanwood Text', 'fanwood_text', normal, italic);
*/

$fanwood-italic: 'Libre Baskerville', serif;
$fanwood-text-italic: 'Libre Baskerville', serif;
$fanwood-text: 'Libre Baskerville', serif;

@include font-face('Fontawesome', 'fontawesome', normal, normal);
