@include font-face('Proxima Nova Regular', 'ProximaNova/proximanova-regular', normal, normal);
@include font-face('Proxima Nova Semibold', 'ProximaNova/proximanova-semibold', bold, normal);
@include font-face('Proxima Nova Italic', 'ProximaNova/proximanova-regitalic', normal, italic);
@include font-face('Proxima Nova Light', 'ProximaNova/proximanova-light', lighter, normal);
@include font-face('Proxima Nova Light Italic', 'ProximaNova/proximanova-lightitalic', lighter, italic);

$proxima-nova-regular: 'Proxima Nova Regular', Arial, sans-serif;
$proxima-nova-semibold: 'Proxima Nova Semibold', Arial, sans-serif;
$proxima-nova-italic: 'Proxima Nova Italic', Arial, sans-serif;
$proxima-nova-light: 'Proxima Nova Light', Arial, sans-serif;
$proxima-nova-lightitalic: 'Proxima Nova Light Italic', Arial, sans-serif;

@include font-face('Fanwood Italic', 'Fanwood/fanwood_italic', normal, normal);
@include font-face('Fanwood Text Italic', 'Fanwood/fanwood_text_italic', bold, normal);
@include font-face('Fanwood Text', 'Fanwood/fanwood_text', normal, italic);

$fanwood-italic: 'Fanwood Italic', Georgia, serif;
$fanwood-text-italic: 'Fanwood Text Italic', Georgia, serif;
$fanwood-text: 'Fanwood Text', Georgia, serif;
