.about {
  .body-container {
    padding-top:100px;
  }
  .hero-container {
    h1 {
      font-size:64px;
      text-align:center;
      line-height:1em;
      width:90%;
      margin:0px auto;
    }
    width:100%;
    padding:250px 0px;
  }
  .venn-container {
    background: #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(187,187,187,0.50);
    margin: 50px 0px;
    .venn-inner {
      max-width:940px;
      float:none;
      margin:50px auto 0px;
    }
    h1 {
      text-align:center;
    }
    h2 {
      color:white;
      font-size:36px;
      text-align:center;
    }
    p {
      font-size:24px;
    }
    #venn {
      float: none;
      margin: 0px auto;
      height: 550px;
      margin-top:40px;
      /* width:665px; */
      position: relative;
    }

    #venn .circle {
      height: 380px;
      width: 380px;
      border-radius:180px;
      -khtml-border-radius:180px;
      -moz-border-radius:180px;
      -webkit-border-radius:180px;
      display: table;
      /* float: left; */
      opacity: .8;
      position: absolute;
    }

    #venn .circle .inner {
      padding-top:40px;
      visibility:hidden;
    }

    #venn > .circle:nth-child(1){
      background-color: #51BA4B;
      color: #FFF;
      right: calc(50% - 35px);
    }

    #venn > .circle:nth-child(1) .inner {
      // padding-left:50px;
      ul {
        margin-left:65px;
      }
    }

    #venn > .circle:nth-child(2){
      background-color: #FFA45B;
      color: #FFF;
      /* margin-left: -60px; */
      left: calc(50% - 35px)

    }

    #venn > .circle:nth-child(2) .inner {
      // padding-left:150px;
      ul {
        margin-left:110px;
      }
    }

    #venn ul {
      padding-left:0px;
      font-size:24px;
      li {
        line-height:1.5em;
      }
    }

    .vertical-line {
      height:150px;
      position:absolute;
      left:50%;
      border-left:2px solid #979797;
      top:40%;
      visibility:hidden;
    }

    #center-text {
      width:370px;
      position:absolute;
      left: calc(50% - 185px);
      top:70%;
      visibility: hidden;
      color:#979797;
    }
  }
  .line-graph {
    padding:0px 50px;
    h2 {
      font-size:2em;
    }
    img {
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
      display: table;
    }
    .img-container {
      box-shadow: 0 2px 2px -2px gray;
    }
  }

  .team {
    padding:75px 50px;
    img {
      margin:0px auto;
      display:table;
    }
    h1 {
      text-align:center;
      margin-bottom:50px;
      font-size:2.67em;
      line-height:1.25em;
    }
    .map-group {
      margin-bottom:50px;
    }
    h2 {
      font-size:2em;
      font-family:$proxima-nova-light;
      text-align:center;
      color:#919191;
    }
    .team-images {
      img {
        width:182px;
        height:182px;
        border-radius:2px;
        margin-bottom:20px;
      }
      h4 {
        font-size:24px;
        text-align:center;
        font-family:$proxima-nova-regular;
        line-height:1em;
        color:#919191;
      }
    }
  }
}

@media (max-width: 401px) {
  .about {
    .hero-container {
      h1 {
        font-size:36px;
      }
    }
  }
}
