.about {
  .body-container {
    padding-top:100px;
  }
  .hero-container {
    h1 {
      font-size:64px;
      text-align:center;
      line-height:1em;
      width:90%;
      margin:0px auto;
    }
    width:100%;
    padding:8% 0px;
  }
  .venn-container {
    background: #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(187,187,187,0.50);
    margin: 50px 0px;
    height:680px;
  }
  .line-graph {
    padding:0px 50px;
    h2 {
      font-size:2em;
    }
    img {
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
      display: table;
    }
    .img-container {
      box-shadow: 0 2px 2px -2px gray;
    }
  }
  .team {
    padding:75px 50px;
    img {
      margin:0px auto;
      display:table;
    }
    h1 {
      text-align:center;
      margin-bottom:50px;
      font-size:2.67em;
      line-height:1.25em;
    }
    .map-group {
      margin-bottom:50px;
    }
    h2 {
      font-size:2em;
      font-family:$proxima-nova-light;
      text-align:center;
      color:#919191;
    }
    .team-images {
      img {
        width:182px;
        height:182px;
        border-radius:2px;
        margin-bottom:20px;
      }
      h4 {
        font-size:24px;
        text-align:center;
        font-family:$proxima-nova-regular;
        line-height:1em;
        color:#919191;
      }
    }
  }
}

@media (max-width: 401px) {
  .about {
    .hero-container {
      h1 {
        font-size:36px;
      }
    }
  }
}
