.homepage {
  h1 {
    font-family:$proxima-nova-light;
    line-height:1em;
    margin-bottom:20px;
  }
  p {
    margin-bottom:10px;
    color: #585858;
  }
  a p span {
    font-family:$proxima-nova-regular;
    text-decoration:underline;
    color: $main-green !important;
  }
  #fp-nav {
    ul {
      li {
        .fp-tooltip {
          font-family:$fanwood-text-italic;
          font-size:24px;
          top:5px;
          height:30px;
          line-height: 1em;
          right:30px;
        }
      }
    }
  }
  .main-wrapper, .main-container {
    padding-top:100px;
    padding-right:50px;
  }
  &.fp-viewing-home {
    .active {
      video {
        display:block;
      }
    }
    .hs-cta-wrapper {
      margin: 0 auto 5%;
      display:table;
      font-size:36px;
      a {
        padding: 10px 30px;
      }
    }

    h1 {
      color:#fff !important;
      font-family: $proxima-nova-light !important;
      line-height: 1.5em !important;
      text-align:center;
      span {
        border-bottom:3px solid #fff;
        a {
          color:#fff;
          &:hover {
            color:$main-green;
            text-decoration:none;
          }
        }
      }
    }

    video {
      position: absolute;
      right: 0;
      bottom: 0;
      top:0;
      right:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-color: black; /* in case the video doesn't fit the whole page*/
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index:-1;
      display:none;
    }
  }
  &:not(.fp-viewing-home) {
    .left-column-image {
      // padding-top:100px;
      img {
        width:100%;
      }
    }
    #fp-nav {
      ul {
        li {
          .fp-tooltip {
            color:#979797 !important;
          }
        }
      }
    }
  }
}





/*
  &.fp-viewing-home {
    .body-container {
    ul {
      li {
        .fp-tooltip {
          color:white !important;
        }
      }
    }

    }


  }


  &.fp-viewing-collaboration, &.fp-viewing-data-management {


  }

  &.fp-viewing-sample-tracking, &.fp-viewing-enterprise {

    h1{
      text-align: center;
    }
    .main-copy {
      padding-top: 30px;
    }
  }
  &.fp-viewing-enterprise {
    img {
      width:200px;
      margin: 10px auto;
      display: table;
    }
  }
  &.fp-viewing-sample-tracking {
    a {
      text-align: center;
    }
    img {
      width:300px;
      margin: 10px auto;
      display: table;
    }
  }
  }

}
*/


@media (min-width: 769px) {

  .device-image {
    display:none !important;
  }
  .mobile-cta {
    display:none !important;
  }
}

@media (max-width: 768px) {
  .fp-viewing-home {
        video {
          display:none;
        }
        .fp-tableCell {
        background-image: url('http://cdn2.hubspot.net/hubfs/730505/homepage-bg.png');
        background-size:auto 100%;
        z-index:-2;
      }
    }
}

@media (max-width: 768px) and  (min-width:401px) {

  .left-column-image {
    display:none !important;
  }
  .homepage {
    :not(.fp-viewing-home) {
      h1, a {
        text-align:center;
      }
      img {
        max-height:150px;
        margin:0px auto;
        display:table;
      }
    }
    &.fp-viewing-collaboration, &.fp-viewing-data-management {
      .mobile-cta {
        display:block !important;
      }
      .main-cta {
        display:none !important;
      }
    }
  }
}

@media (max-width: 768px) and  (min-width:402px) {
  .left-column-image {
    display:none !important;
  }

  .homepage {
    &:not(.fp-viewing-home) {
      .body-container {
        h1 {
          font-size: 24px;
        }
        h1, a {
          text-align:center;
        }
        img {
          max-height:200px;
          margin:20px auto;
          display:table;
        }
      }
    }
    &.fp-viewing-collaboration, &.fp-viewing-data-management {
      .main-cta {
        display:none !important;
      }
      .mobile-cta {
        display:block;
      }
    }
    .main-copy {
      display:none !important;
    }
    .spacer {
      display: none !important;
    }

  }

}

@media (max-width: 401px) {
  .left-column-image {
    display:none !important;
  }

  .homepage {
    &:not(.fp-viewing-home) {
      .body-container {
      h1 {
        font-size: 24px;
      }
      h1, a {
        text-align:center;
      }
      img {
        max-height:200px;
        display:table;
        margin:20px auto;
      }
      .spacer {
        display: none !important;
      }
    }
    }
    &.fp-viewing-collaboration {
      .main-cta {
        display:none !important;
      }
      .mobile-cta {
        display:block;
      }
    }
    .main-copy {
      display:none !important;
    }
  }
}

@media (min-width:569px) {
  .fp-viewing-home {
    h1 {
      margin:100px 0px 50px;
      font-size:60px;
    }
    .main-wrapper {
      //margin-top: calc(100px + 2%);
      padding:150px 5%;
    }
  }
}

@media (max-width:568px) {
  h1 {
    //margin:100px 0px 50px;
    font-size:32px;
  }
  .main-wrapper {
    padding:50px 5%;
  }
}

@media (max-width:568px) and (min-width:401px) {
  .fp-viewing-home {
    h1 {
      margin:50px 0px 30px;
    }
  }
}

@media (max-width:400px) {
  .fp-viewing-home {
    h1 {
      margin:150px 0px 30px;
    }
  }
}
