.homepage {
  .body-container {
  h1 {
    font-family:$proxima-nova-light;
    line-height:1em;
    margin-bottom:20px;
  }
  p {
    margin-bottom:10px;
    color: #585858;
  }
  a p span {
    font-family:$proxima-nova-regular;
    text-decoration:underline;
    color: $main-green !important;
  }
  video {
    display:none;
  }
  #fp-nav {
    ul {
      li {
        .fp-tooltip {
          font-family:$fanwood-text-italic;
          font-size:24px;
          top:5px;
          height:30px;
          line-height: 1em;
          right:30px;
        }
      }
    }
  }
  .main-wrapper, .main-container {
    padding-top:100px;
    padding-right:50px;
    padding-left:50px;
  }
}
  &.fp-viewing-home {
    .body-container {
    .active {
      video {
        display:block;
      }
    }
    .hs-cta-wrapper {
      margin: 0 auto 5%;
      display:table;
      font-size:36px;
      a {
        padding: 10px 30px;
      }
    }

    h1 {
      color:#fff !important;
      font-family: $proxima-nova-light !important;
      line-height: 1.5em !important;
      text-align:center;
      span {
        border-bottom:3px solid #fff;
        a {
          color:#fff;
          &:hover {
            color:$main-green;
            text-decoration:none;
          }
        }
      }
    }
    }
    video {
      position: absolute;
      right: 0;
      bottom: 0;
      top:0;
      right:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-color: black; /* in case the video doesn't fit the whole page*/
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index:-1;
      display:none;
    }
  }
  &:not(.fp-viewing-home) {
    .left-column-image {
      // padding-top:100px;
      img {
        width:100%;
      }
    }
    #fp-nav {
      ul {
        li {
          .fp-tooltip {
            color:#979797 !important;
          }
        }
      }
    }
  }
  &.fp-viewing-sample-tracking, &.fp-viewing-enterprise {
    h1 {
      text-align:center;
    }
  }
}


@media (min-width: 769px) {
  .data-management-copy {
    padding-top:50px;
  }
  .device-image {
    display:none !important;
  }
  .mobile-cta {
    display:none !important;
  }
  .fp-viewing-collaboration {
    .collaboration-copy {
    padding-top:25px;
    }
  }
  .fp-viewing-sample-tracking, .fp-viewing-enterprise {
    h1 {
      padding: 20px 50px 40px;
    }
    .hs_cos_wrapper_type_linked_image {
      width:400px;
      margin:0px auto 50px;
      float:none;
      display:block;
    }
    .main-cta {
      text-align:center;
    }
  }


}

@media (max-width: 768px) {
  .fp-viewing-home {
        .fp-tableCell {
        background-image: url('http://cdn2.hubspot.net/hubfs/730505/homepage-bg.png');
        background-size:auto 100%;
        z-index:-2;
      }
    }

  .fp-viewing-data-management {
    .span5, .span7 {
      width:100%;
    }
  }

  .fp-viewing-collaboration {
    .collaboration-copy {
      width: 100% !important;
    }
    .span7 {
      width:100%;
    }
  }
  .fp-viewing-collaboration {
    .device-image {
      margin:0px auto;
      float:none;
      img {
          width:500px;
          height:300px;
      }
    }
  }
  .fp-viewing-sample-tracking, .fp-viewing-enterprise {
    .span6 {
      width: 100%;
      &:first-child {
        margin-bottom:20px;
      }
    }
    .main-image {
      display:none;
    }
    .device-image {
      display:block;
    }
  }

}

@media (max-width: 768px) and (min-width:668) {
  .homepage {
    &.fp-viewing-collaboration {
      .collaboration-copy {
        padding-top:25px;
      }
      .span7 {
        img {
          width: 500px !important;
        }
      }
    }
  }
}

@media (max-width: 667px) and  (min-width:401px) {
  .homepage .main-container, .homepage .main-wrapper {
    padding-left:50px;
  }
  .left-column-image {
    display:none !important;
  }
  .fp-viewing-collaboration {

    .collaboration-copy {
      padding: 20px 10%;
    }
  }
  .homepage {
    :not(.fp-viewing-home) {
      h1, a {
        text-align:center;
      }
      img {
        // max-height:150px;
        margin:0px auto;
        display:table;
      }
    }
    &.fp-viewing-collaboration, &.fp-viewing-data-management {
      .row.main-container {
        margin-left:0px !important;
      }
      .mobile-cta {
        display:block !important;
      }
      .main-cta {
        display:none !important;
      }
    }
  }
}

@media (max-width: 768px) and  (min-width:402px) {
  .left-column-image {
    display:none !important;
  }

  .homepage {
    &:not(.fp-viewing-home) {
      .body-container {
        h1 {
          // font-size: 24px;
        }
        h1, a {
          text-align:center;
        }
        img {
          // max-height:200px;
          margin:0px auto;
          display:table;
        }
      }
    }

    &.fp-viewing-collaboration, &.fp-viewing-data-management {
      .main-cta {
        display:none !important;
      }
      .mobile-cta {
        display:block;
      }
    }
    .main-copy {
      display:none !important;
    }
    .spacer {
      display: none !important;
    }

  }

}

@media (max-width: 401px) {
  .left-column-image {
    display:none !important;
  }

  .homepage {
    &:not(.fp-viewing-home) {
      .body-container {
      h1 {
        font-size: 24px;
      }
      h1, a {
        text-align:center;
      }
      img {
        // max-height:200px;
        display:table;
        margin:20px auto;
      }
      .spacer {
        display: none !important;
      }
    }
    }
    &.fp-viewing-collaboration {
      .main-cta {
        display:none !important;
      }
      .mobile-cta {
        display:block;
      }
    }
    .main-copy {
      display:none !important;
    }
  }
}

@media (min-width:668px) {
  .fp-viewing-home {
    h1 {
      margin:100px 0px 50px;
      font-size:60px;
    }
    .main-wrapper {
      //margin-top: calc(100px + 2%);
      padding:150px 5%;
    }
  }

}

@media (max-width:668px) {
  .hs_cos_wrapper_type_rich_text p {
    display:none !important;
  }
  .fp-viewing-data-management {
    .main-cta {
      display:none;
    }
  }

  h1 {
    //margin:100px 0px 50px;
    font-size:32px;
  }
  .main-wrapper {
    padding:50px 5%;
  }
  .main-container {

  }
  .mobile-cta {
    font-size:14px;
  }
  .fp-viewing-sample-tracking, .fp-viewing-enterprise {
    .hs_cos_wrapper_type_rich_text {
      display:none;
    }
  }
  .fp-viewing-collaboration {
      .collaboration-copy {
        padding:0px;
        margin:0px;
        p {
          display:none;
        }
      }

      .device-image {
        img {
        height:160px !important;
        width:auto !important;
      }
      }
      .collaboration-copy {
        padding-top:0px;
        h1 {
          margin:0px;
        }
      }
      h1 {

      }

    }

}

@media (max-width:568px) and (min-width:401px) {
  .fp-viewing-home {
    h1 {
      margin:50px 0px 30px;
    }
  }
}

@media (max-width:400px) {
  .fp-viewing-home {
    .body-container {
    h1 {
      margin:75px 0px 30px;
    }
  }
  }
}
